{% extends "feed/base.html" %}
{% block title %}Feeds{% endblock %}
{% block feeds %}enabled{% endblock %}

{% block body %}

    <div class="feed-cont">
        <form method="post" action="{% url "feed_list_user" user.username %}" class="input-form">
            {% csrf_token %}
            <table class="options-table">
                <tr>
                    <td colspan="2">Create feed</td>
                </tr>
                {{ form }}
                <tr>
                    <td colspan="2"><input type="submit" value="Create" class="input-submit"></td>
                </tr>
            </table>
        </form>

        <div>
            <h2>Your feeds</h2>

            <table class="feeds-table">
                <tr>
                    {# <th>ID</th> #}
                    <th>name</th>
                    <th>created</th>
                    <th>Latest value</th>
                </tr>
                {% for feed in feeds %}
                    <tr>
                        {# <td>{{ feed.id }}</td> #}
                        <td><a href="{% url "feed_view" feed.owner__username feed.name %}">{{ feed.name }}</a></td>
                        <td>{{ feed.date_created|date:"j. n. Y G:i" }}</td>
                        <td>{{ feed.last_value.value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}