{% extends "feed/base.html" %}
{% load static %}

{% block title %}FEED {{ feed.name }}{% endblock %}
{% block head %}
    <link href='{% static "node_modules/css.gg/icons/css/backspace.css" %}' rel='stylesheet'>
    <link href='{% static "node_modules/css.gg/icons/css/close.css" %}' rel='stylesheet'>
    <link href='{% static "node_modules/css.gg/icons/css/check.css" %}' rel='stylesheet'>
    <link rel="stylesheet" href="{% static "node_modules/flatpickr/dist/themes/dark.css" %}">
{% endblock %}

{% block body %}
    <h3>{{ feed.name }}</h3>
    <div class="chart-container" style="position: relative; height:45vh; width:90vw">
        <canvas id="graf"></canvas>
    </div>

    <div class="feed-cont">
        <div style="width: min-content">

            {# Responzivní pro telefony #}
            {#<div class="input-submit decollapsable">#}
            {#    <p>Show limitations and statistics</p>#}
            {#</div>#}

            <form id="option_form" method="post" action="{% url "feed_view" feed.owner feed.name %}"
                  class="input-form collapsable">
                {% csrf_token %}
                <table class="options-table">
                    <tr>
                        <td colspan="2">
                            <b>Limit options</b>
                        </td>
                    </tr>
                    {{ op }}
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="LIMIT" id="submit_options" class="input-submit">
                        </td>
                    </tr>
                </table>
            </form>

            <div class="input-form collapsable">
                <b>Statisctics</b>
                <div class="statistics-cont">
                    <div class="p">Length: {{ stats.len }}</div>
                    <div class="p">Max: {{ stats.max.0.value }}
                        <div class="option-dates">{% for max in stats.max %}
                            <div><a href="#row-{{ max.id }}">{{ max.date_created|date:"j. n. Y G:i" }}</a></div>
                        {% endfor %}</div>
                    </div>
                    <div class="p">Min: {{ stats.min.0.value }}
                        <div class="option-dates">{% for min in stats.min %}
                            <div><a href="#row-{{ min.id }}">{{ min.date_created|date:"j. n. Y G:i" }}</a></div>
                        {% endfor %}</div>
                    </div>
                    <div class="p">Average: {{ stats.avg }}</div>
                </div>
            </div>

            <form method="post" action="{% url "feed_view" feed.owner feed.name %}" class="input-form collapsable">
                {% csrf_token %}
                <table class="options-table">
                    <tr>
                        <td colspan="2">Add data</td>
                    </tr>
                    {{ dt }}
                    <tr>
                        <td colspan="2"><input class="input-submit" type="submit" value="Add"></td>
                    </tr>
                </table>
            </form>

        </div>

        <div class="data-cont">
            <table class="feeds-table">
                <tr>
                    {# <th>ID</th> #}
                    <th>created</th>
                    <th>value</th>
                    <th>options</th>
                </tr>
                {% for dat in data %}
                    <tr id="row-{{ dat.id }}">
                        {# td>{{ dat.id }}</td> #}
                        <td class="tooltip see_time">{{ dat.date_created|date:"G:i" }}<span
                                class="tooltiptext">{{ dat.date_created|date:"j. n. Y G:i" }}</span></td>
                        <td>{{ dat.value.normalize }}</td>
                        <td class="svg-cont">
                            <div id="options-{{ dat.id }}"><i class="icon gg-backspace"
                                                              onclick="options({{ dat.id }})"></i></div>
                            <div id="delete-{{ dat.id }}" class="options" style="display:none">
                                <i class="icon gg-check" onclick="delete_data({{ dat.id }})"></i>
                                <i class="icon gg-close" onclick="deny_delete_data({{ dat.id }})"></i>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script src="{% static "node_modules/flatpickr/dist/flatpickr.js" %}"></script>
    <script src="{% static 'node_modules/chart.js/dist/chart.umd.js' %}"></script>
    <script>
        function ch_method() {
            let selected = document.getElementById("id_limit_by").value;
            console.log(selected);
            switch (selected) {
                case "number":
                    document.getElementById("id_limit_number").parentElement.parentElement.style.display = "";
                    document.getElementById("id_limit_date").parentElement.parentElement.style.display = "none";
                    document.getElementById("submit_options").style.display = "none";
                    break;
                case "date":
                    document.getElementById("id_limit_number").parentElement.parentElement.style.display = "none";
                    document.getElementById("id_limit_date").parentElement.parentElement.style.display = "";
                    document.getElementById("submit_options").style.display = "";
                    break;
            }
        }

        function options(data_key) {
            let last_open = document.querySelector("div[data-open]");
            if (last_open) {
                if (last_open.style.display === 'inline-block') {
                    deny_delete_data(last_open.getAttribute("data-open"));
                }
                last_open.removeAttribute("data-open");
            }
            document.getElementById(`delete-${data_key}`).style.display = 'inline-block';
            document.getElementById(`delete-${data_key}`).setAttribute("data-open", data_key);
            document.getElementById(`options-${data_key}`).style.display = 'none';
        }

        function deny_delete_data(data_key) {
            document.getElementById(`delete-${data_key}`).style.display = 'none';
            document.getElementById(`options-${data_key}`).style.display = 'inline-block';
        }

        function delete_data(data_key) {
            document.getElementById(`delete-${data_key}`).style.display = 'none';
            fetch(window.location.href + data_key, {method: "delete"}).then(res => {
                if (res.ok) {
                    document.getElementById(`row-${data_key}`).className = 'strikeout';
                }
            });
        }

        ch_method();

        let default_number_option = document.createElement("option");
        default_number_option.value = {{ data|length }};
        default_number_option.innerHTML = {{ data|length }};
        default_number_option.defaultSelected = true;
        default_number_option.style.display = "none";
        document.getElementById("id_limit_number").appendChild(default_number_option);

        document.getElementById("id_limit_by").addEventListener("change", ch_method);

        document.getElementById("id_limit_number").addEventListener("change", () => document.getElementById("option_form").submit());

        let option_default_date = [new Date(Date.now() - 86400000), new Date()] //datum dnešní a o den menší, NEMAZAT


        {% if data|length != 0 %} //když nejsou žádná data k zobrazení
            let lab = [];
            {% for d in data %} lab.push({value:{{ d.value }}, date: new Date("{{ d.date_created.isoformat }}")});
            {% endfor %}

            lab = lab.reverse();

            let xtime = tobj => {
                return `${tobj.getHours()}:${tobj.getMinutes().toString().length === 1 ? "0" + tobj.getMinutes() : tobj.getMinutes()}`
            }

            new Chart(
                document.getElementById('graf'),
                {
                    type: "line",
                    data: {
                        labels: lab.map(i => i.date),
                        datasets: [{
                            label: "{{ feed.name }}",
                            data: lab.map(i => i.value),
                            backgroundColor: "rgba(255, 251, 10, 0.75)",
                            borderColor: "#e7e571",
                            pointStyle: 'circle',
                            pointRadius: 2,
                            pointHoverRadius: 5,
                            tension: 0.1
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        interaction: {
                            intersect: false,
                            mode: "nearest",
                            axis: "x"
                        },
                        scales: {
                            x: {
                                grid: {
                                    color: "#2a2a2a"
                                },
                                ticks: {
                                    callback: function (value) {
                                        return xtime(new Date(this.getLabelForValue(value)));
                                    }
                                }
                            },
                            y: {
                                grid: {
                                    color: "#2a2a2a"
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            },
                            tooltip: {
                                callbacks: {
                                    title: function (context) {
                                        return new Date(context[0].label).toLocaleString('cz-CZ')
                                    }
                                }
                            }
                        }
                    }
                });
            option_default_date = [lab[0].date, lab[lab.length - 1].date]
        {% endif %}

        flatpickr("#id_limit_date", {
            mode: "range",
            enableTime: true,
            time_24hr: true,
            altInput: true,
            altFormat: "j. n. Y H:i",
            defaultDate: option_default_date,
        });
    </script>
{% endblock %}