{% load static %}
{% extends "feed/base.html" %}

{% block body %}
<h3>{{ feed.name }}</h3>
<div class="chart-container" style="position: relative; height:60vh; width:80vw"><canvas id="graf"></canvas></div>
<form method="post" action="{% url "new_data" feed.owner feed.name %}">
{% csrf_token %}
    <input type="text" name="data_value">
    <input type="submit" value="POST">
</form>

<table class="feeds">
    <tr>
        <th>ID</th>
        <th>value</th>
        <th>created</th>
    </tr>
    {% for dat in data %}
        <tr>
        <td>{{ dat.id }}</td>
        <td>{{ dat.value }}</td>
        <td>{{ dat.date_created }}</td>
    </tr>
    {% endfor %}
</table>

<script src="{% static 'node_modules/chart.js/dist/chart.umd.js' %}"></script>
<script>
    {#let data = [];#}
    {#data = {{ data|safe }};#}
    var lab = [];
    {#lab.push({"value":1, "date":"d"})#}
    {% for d in data %} lab.push({ value:{{ d.value }}, date: new Date("{{ d.date.isoformat }}") }); {% endfor %}
{#        {{ d.date|date:"j. n. Y G:i }}#}
    console.log(lab)
    var xtime = tobj => { return `${tobj.getHours()}:${tobj.getMinutes()}` }


    new Chart(
        document.getElementById('graf'),
        {
            type: "line",
            data: {
                labels: lab.map(i => i.date),
                datasets: [{
                    data: lab.map(i => i.value)
                }]
            },
            options: {
                interaction: {
                    intersect: false,
                    mode: "nearest",
                    axis: "xy"
                },
                scales: {
                    x: {
                        ticks: {
                            {#https://www.chartjs.org/docs/latest/samples/scale-options/ticks.html#}
                            callback: function(value, index){ return xtime(new Date(this.getLabelForValue(value)));} //new Date(this.getLabelForValue(value)).toLocaleDateString('cs-CZ', { month: 'short', year: 'numeric' }); 

                        {# TODO: nebo přidat tohle https://github.com/chartjs/chartjs-adapter-luxon#}
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks:{
                            title: function(context) {return new Date(context[0].label).toLocaleString('cz-CZ')} //new Date(context.dataset.label).toLocaleString('cz-CZ')
                            
                        }
                    }
                }
            }
        });
</script>
{% endblock %}