{% extends "feed/base.html" %}
{% block title %}Feeds{% endblock %}
{% block feeds %}enabled{% endblock %}

{% block body %}

<h3>Create feed:</h3>
<form method="post" action="{% url "feed_list" %}">
{% csrf_token %}
    <table>
    {{ form.form }}
{#    <input type="text" name="feed_name">#}
        {% if form.error %}<tr><td colspan="2" class="error small_err err_cell">{{ form.error }}</td></tr>{% endif %}
        <tr><td><input type="submit" value="Create"></td></tr>
    </table>
</form>

<h2>Your feeds</h2>

<table class="feeds">
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>created</th>
    </tr>
    {% for feed in feeds %}
    <tr>
        <td>{{ feed.id }}</td>
        <td><a href="{% url "feed_view" feed.owner__username feed.name %}">{{ feed.name }}</a></td>
        <td>{{ feed.date_created|date:"j. n. Y G:i" }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}