{% extends "feed/base.html" %}

{% block body %}

<h2>REGISTRATION</h2>


<form method="post" action="{% url 'users_register' %}">
    {% csrf_token %}
    <table class="user">
    {{ form.form }}
{#      <tr>#}
{#        <td>username: </td>#}
{#        <td><input type="text" name="username" placeholder="Username"></td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>password: </td>#}
{#        <td><input type="password" name="password" placeholder="Password"></td>#}
{#      </tr>#}

    {% if form.errors %} {% for _, error in form.errors.items %}{% for err in error %}
        <tr><td colspan=2 class="error small_err">{{ err.message }}</td></tr>
    {% endfor %}{% endfor %} {% endif %}
    </table>

      <input type="submit" value="register">
  </form>


{% endblock %}
