{% extends "feed/base.html" %}
{% load static %}

{% block head %}
    <link href='{% static "node_modules/css.gg/icons/css/lock.css" %}' rel='stylesheet'>
    <link href='{% static "node_modules/css.gg/icons/css/user.css" %}' rel='stylesheet'>
{% endblock %}

{% block title %}REGISTER{% endblock %}

{% block body %}

    <form method="post" action="{% url 'users_register' %}" class="login-form input-form">
        {% csrf_token %}
        <h3>REGISTRATION</h3>
        <table class="user">
            {{ form }}
        </table>

        <input type="submit" value="register">
    </form>

{% endblock %}
