{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'feed/base_style.css' %}">
    {% block head %} <title>default title</title> {% endblock %}
</head>
<body>
    <header>
        <ul>
            <li><a href="{% url 'feed' %}">feeds</a></li>
            <li style="float:right"><a href="{% url 'user_profile_base' %}">{% if user.is_authenticated %}{{ user }}{% else %}Login{% endif %}</a></li>
        </ul>
    </header>
    {% block body %} default text {% endblock %}
</body>
</html>