{% extends "feed/base.html" %}

{% block body %}
<table>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>created</th>
    </tr>
    {% for feed in feeds %}
    <tr>
        <td>{{ feed.id }}</td>
        <td><a href="{% url "feed_view" feed.owner__username feed.name %}">{{ feed.name }}</a></td>
        <td>{{ feed.date_created }}</td>
    </tr>
    {% endfor %}
</table>

{% if error_meassage %} <b>{{ error_meassage }}</b> {% endif %}

<form method="post" action="{% url "new_feed" %}">
{% csrf_token %}
    <input type="text" name="feed_name">
    <input type="submit" value="POST">
</form>

{% endblock %}